<div id="<%= dom_id artwork %>">
  <p>
    <strong>Api link:</strong>
    <%= artwork.api_link %>
  </p>

  <p>
    <strong>Artist title:</strong>
    <%= artwork.artist_title %>
  </p>

  <p>
    <strong>Artwork type title:</strong>
    <%= artwork.artwork_type_title %>
  </p>

  <p>
    <strong>Classification title:</strong>
    <%= artwork.classification_title %>
  </p>

  <p>
    <strong>Date display:</strong>
    <%= artwork.date_display %>
  </p>

  <p>
    <strong>Department title:</strong>
    <%= artwork.department_title %>
  </p>

  <p>
    <strong>Dimensions:</strong>
    <%= artwork.dimensions %>
  </p>

  <p>
    <strong>Gallery title:</strong>
    <%= artwork.gallery_title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= artwork.image_id %>
  </p>

  <p>
    <strong>Image link:</strong>
    <%= artwork.image_link %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= artwork.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= artwork.longitude %>
  </p>

  <p>
    <strong>Medium display:</strong>
    <%= artwork.medium_display %>
  </p>

  <p>
    <strong>Place of origin:</strong>
    <%= artwork.place_of_origin %>
  </p>

  <p>
    <strong>Style title:</strong>
    <%= artwork.style_title %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= artwork.title %>
  </p>

</div>
